body{
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(125, 125, 125);
     line-height: 9px;
     
     width: 20%; 
     position: fixed
     ;
     
      
}
img{
    width: 7%;
    margin: 1px 75px ;
    position: static;
}
hr{
   width: 12% ;
   position: fixed;
   margin-left: 30px;
   position: fixed;
   
}

#first-h1{
    background-image: url(images/apple-pie.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: local;
    
}